@import "../../../../assets/variables.scss";

body {
    color: $secondary-color !important;
}

// custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d361;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d3d3d361;
}

.container-fluid {
    background-color: $table-bg !important;
    input {
        box-shadow: none !important;
    }
    .input-group-btn {
        outline: none !important;
    }

    table.scrolldown {
        width: 100%;
        border-spacing: 0;
    }

    table.scrolldown tbody,
    table.scrolldown thead {
        // display: block;
        // float: left;
        // clear: left;
    }

    table.scrolldown tbody {
        height: 65.6vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    thead {
        border-top: 1px solid #d3d3d361;
    }
    tbody {
        tr {
            border-top: 1px solid #d3d3d361;
            border-bottom: 1px solid #d3d3d361;
        }
        tr:nth-child(even) {
            background-color: $table-row-color;
        }
    }
    th,
    td {
        color: $secondary-color !important;
        padding: 0.75rem;
        width: 18%;
    }
    .img-width-sm {
        width: 10px !important;
    }
}

th:last-child,
td:last-child {
    width: 10% !important;
}

.modal-content {
    border-radius: 0 !important;
}

button {
    &:focus {
        outline: none !important;
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: orange;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
